[project]
	description = A scala wrapper for reverse geocoding
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Reuben Doetsch (hjast)
[access "refs/for/refs/*"]
	read = group user/Reuben Doetsch (hjast)
	push = group user/Reuben Doetsch (hjast)
	label-Code-Review = -2..+2 group user/Reuben Doetsch (hjast)
	label-Verified = -1..+1 group user/Reuben Doetsch (hjast)
	rebase = group user/Reuben Doetsch (hjast)
	removeReviewer = group user/Reuben Doetsch (hjast)
	submit = group user/Reuben Doetsch (hjast)
[access "refs/heads/*"]
	read = group user/Reuben Doetsch (hjast)
	create = group user/Reuben Doetsch (hjast)
	push = +force group user/Reuben Doetsch (hjast)
	pushMerge = group user/Reuben Doetsch (hjast)
[access "refs/tags/*"]
	push = +force group user/Reuben Doetsch (hjast)
	pushTag = group user/Reuben Doetsch (hjast)
	pushSignedTag = group user/Reuben Doetsch (hjast)
